<div class="col-12 ">
    <div class="card card-header text-center" style="padding: .10rem 1.25rem;">
        <h5>{{editar ? 'Actualización de reclamo existente' : 'Generación de un nuevo reclamo'}}</h5>
    </div>
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-row" style="margin-bottom: 0cm;">
                    <div class="form-group col-1">
                      <label>N° reclamo</label>
                      <input type="text" name="num-reclamo" [(ngModel)]="reclamo.N_reclamo" placeholder="N° de reclamo" class="form-control disab" readonly>
                    </div>
                    <div class="form-group col-10">
                      <label>Fecha</label>
                      <input type="text" name="fecha-reclamo" value="{{reclamo.F_reclamo | date: 'dd/MM/yyyy'}}"  placeholder="Fecha del reclamo" class="form-control disab" readonly >
                    </div>
                    <div class="form-group col 1">
                      <label>Atendido por</label>
                      <input type="text" name="usuario"  [(ngModel)]="reclamo.U_reclamo" placeholder="Usuario" class="form-control disab" readonly >
                    </div>
                </div>
                <div class="form-row" style="margin-top: 0cm;">
                    <div class="form-group col-2">
                        <label>Terminal</label>
                        <input type="text" name="terminal" [(ngModel)]="reclamo.Tj" placeholder="Agencia-Subagencia-Maquina" class="form-control">
                    </div>
                    <div class="form-group col-2">
                        <label for="contacto">Contacto</label>
                        <input type="text" name="contacto" [(ngModel)]="reclamo.Contacto" placeholder="Contacto" class="form-control">
                    </div>
                    <div class="form-group col-2">
                        <label for="metodo">Medio de contacto</label>
                        <select [(ngModel)]="reclamo.Metodo" class="form-control" name="metodo" >
                          <option selected value="Telefono">Telefono</option> 
                          <option value="Whatsapp">Whatsapp</option> 
                          <option value="Mail">Mail</option> 
                          <option value="Personal">Personal</option> 
                          <option value="Otro">Otro</option> 
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-8">
                        <label>Motivo del reclamo</label>
                        <textarea type="text" name="problema" [(ngModel)]="reclamo.Problema"  placeholder="Motivo del reclamo" class="form-control" ></textarea>
                    </div>
                    <div class="form-group col-4">
                        <label>Observaciones</label>
                        <textarea type="text" name="observaciones" [(ngModel)]="reclamo.Observaciones"  placeholder="Observaciones" class="form-control" ></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Volver a llamar</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Derivar</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">Imprimir informe</label>
                      </div>
                </div>
                <div class="form-row">
                    <button class="btn btn-success  mt-3" (click)="editar ? actualizarReclamo() : guardarReclamo()">
                        {{editar ? 'Actualizar reclamo existente' : 'Guardar nuevo reclamo'}}
                    </button> 
                </div>
            </form>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-1">
                      <label>N° reclamo</label>
                      <input type="text" name="num-reclamo" [(ngModel)]="reclamo.N_reclamo" placeholder="N° de reclamo" class="form-control disab" readonly>
                    </div>
                    <div class="form-group col-10">
                      <label>Fecha</label>
                      <input type="text" name="fecha-reclamo" value="{{reclamo.F_reclamo | date: 'dd/MM/yyyy'}}"  placeholder="Fecha del reclamo" class="form-control disab" readonly >
                    </div>
                    <div class="form-group col 1">
                      <label>Atendido por</label>
                      <input type="text" name="usuario"  [(ngModel)]="reclamo.U_reclamo" placeholder="Usuario" class="form-control disab" readonly >
                    </div>
                </div>
                <div class="form-row" style="margin-top: 0cm;">
                    <div class="form-group col-2">
                        <label>Terminal</label>
                        <input type="text" name="terminal" [(ngModel)]="reclamo.Tj" placeholder="Agencia-Subagencia-Maquina" class="form-control">
                    </div>
                    <div class="form-group col-2">
                        <label for="contacto">Contacto</label>
                        <input type="text" name="contacto" [(ngModel)]="reclamo.Contacto" placeholder="Contacto" class="form-control">
                    </div>
                    <div class="form-group col-2">
                        <label for="metodo">Medio de contacto</label>
                        <select [(ngModel)]="reclamo.Metodo" class="form-control" name="metodo" >
                          <option selected value="Telefono">Telefono</option> 
                          <option value="Whatsapp">Whatsapp</option> 
                          <option value="Mail">Mail</option> 
                          <option value="Personal">Personal</option> 
                          <option value="Otro">Otro</option> 
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-8">
                        <label>Motivo del reclamo</label>
                        <textarea type="text" name="problema" [(ngModel)]="reclamo.Problema"  placeholder="Motivo del reclamo" class="form-control" ></textarea>
                    </div>
                    <div class="form-group col-4">
                        <label>Observaciones</label>
                        <textarea type="text" name="observaciones" [(ngModel)]="reclamo.Observaciones"  placeholder="Observaciones" class="form-control" ></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Volver a llamar</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Derivar</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">Imprimir informe</label>
                      </div>
                </div>
                <div class="form-row">
                    <button class="btn btn-success  mt-3" (click)="editar ? actualizarReclamo() : guardarReclamo()">
                        {{editar ? 'Actualizar reclamo existente' : 'Guardar nuevo reclamo'}}
                    </button> 
                </div>
            </form>
        </div>
    </div>
</div>

