<div>
  <a  [routerLink]="'/reclamos/nuevo'">Nuevo</a>
</div>
<div class="container">
    <table class="table table-sm table-striped table-dark">
        <thead>
            <tr>
            <th scope="col" style="color: darkgrey;">N° Reclamo</th>
            <th scope="col"style="color: darkgrey;">Fecha reclamo</th>
            <th scope="col"style="color: darkgrey;">Contacto</th>
            <th scope="col"style="color: darkgrey;">Medio</th>
            <th scope="col"style="color: darkgrey;">
                    <div class="dropright">
                        <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: darkgrey;">
                            Maquina
                        </a>
                        <div class="dropdown-menu input-group-sm" aria-labelledby="dropdownMenuButton" style="text-align: left;">
                            <input type="text" class="form-control" name="filterTitular" placeholder="Buscar..." [(ngModel)]="filtertj" style="border: none;" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
            </th>
            <th scope="col" style="color: darkgrey;">Motivo</th>
            <th scope="col" style="color: darkgrey;">Problema</th>
            <th scope="col" style="color: darkgrey;">Observaciones</th>
            <th scope="col" style="color: darkgrey;">Recibido por</th>
            <th scope="col" style="color: darkgrey;">Estado</th>
            <th scope="col" style="color: darkgrey;">Fecha solución</th>
            <th scope="col" style="color: darkgrey;">Solución</th>
            <th scope="col" style="color: darkgrey;">Derivación</th>
            <th scope="col" style="color: darkgrey;">Resuelto por</th>

            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let reclamo of reclamos | filterReclamo:filtertj">
                    <th scope="row">{{reclamo.N_reclamo}}</th>
                    <td>{{reclamo.F_reclamo | date: 'dd/MM/yyyy'}}</td>
                    <td>{{reclamo.Contacto}}</td>
                    <td>{{reclamo.Metodo_Contacto}}</td>
                    <td>{{reclamo.Tj}}</td>
                    <td>{{reclamo.Motivo}}</td>
                    <td>{{reclamo.Problema}}</td>
                    <td>{{reclamo.Observaciones}}</td>
                    <td>{{reclamo.U_reclamo}}</td>
                    <td>{{reclamo.Estado? 'Solucionado' : 'Pendiente'}}</td>
                    <td>{{reclamo.F_solucion | date: 'dd/MM/yyyy'}}</td>
                    <td>{{reclamo.Solucion}}</td>
                    <td>{{reclamo.Derivacion? 'Derivado' : '---'}}</td>
                    <td>{{reclamo.U_solucion}}</td>
                    <td> <a href="#detalle" (click)="seleccion(reclamo.N_reclamo)" data-toggle="modal"><i class="fas fa-sm fa-search-plus"></i></a> </td>
                </tr>

        </tbody>
    </table>
</div>
<div class="modal fade" id="detalle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle del reclamo</h4>
            </div>
            <div class="modal-body mt-2" >
                <table class="table table-sm">
                    <tbody style="color: darkgray;">
                      <tr>
                        <th>N° de Reclamo:</th>
                        <td><a style="color: floralwhite; float:inline-start">{{seleccionado.N_reclamo}}</a></td>
                      </tr>
                      <tr>
                        <th>Fecha reclamo:</th>
                        <td> <a style="color: floralwhite; float:inline-start">{{seleccionado.F_reclamo | date: 'dd/MM/yyyy HH:mm:ss'}}</a></td>
                      </tr>
                      <tr>
                        <th>Contacto:</th>
                        <td><a style="color: floralwhite; float:inline-start">{{seleccionado.Contacto}}</a></td>
                      </tr>
                      <tr>
                        <th>Medio:</th>
                        <td><a style="color: floralwhite; float:inline-start">{{seleccionado.Metodo_Contacto}}</a></td>
                      </tr>
                      <tr>
                        <th>Maquina:</th>
                        <td><a style="color: floralwhite; float:inline-start">{{seleccionado.Tj}}</a></td>
                      </tr>
                      <tr>
                        <th>Motivo:</th>
                        <td><a style="color: floralwhite; float:inline-start">{{seleccionado.Motivo}}</a></td>
                      </tr>
                      <tr>
                        <th>Problema:</th>
                        <td><a style="color: floralwhite; float:inline-start">{{seleccionado.Problema}}</a></td>
                      </tr>
                      <tr>
                        <th>Observaciones:</th>
                        <td><a style="color: floralwhite; float:inline-start">{{seleccionado.Observaciones}}</a></td>
                      </tr>
                      <tr>
                        <th>Recibido por:</th>
                        <td><a style="color: floralwhite; float:inline-start">{{seleccionado.U_reclamo}}</a></td>
                      </tr>
                      <tr>
                        <th>Estado:</th>
                        <td><a style="color: floralwhite; float:inline-start">{{seleccionado.Estado? 'Solucionado' : 'Pendiente'}}</a></td>
                      </tr>
                      <tr>
                        <th>Fecha solución:</th>
                        <td> <a style="color: floralwhite; float:inline-start">{{seleccionado.F_solucion | date: 'dd/MM/yyyy HH:mm:ss'}}</a></td>
                      </tr>
                      <tr>
                        <th>Solución:</th>
                        <td><a style="color: floralwhite; float:inline-start">{{seleccionado.Solucion}}</a></td>
                      </tr>
                      <tr>
                        <th>Derivación:</th>
                        <td><a style="color: floralwhite; float:inline-start">{{seleccionado.Derivacion? 'Derivado' : '---'}}</a></td>
                      </tr>
                      <tr>
                        <th>Resuelto por:</th>
                        <td><a style="color: floralwhite; float:inline-start">{{seleccionado.U_solucion}}</a></td>
                      </tr>

                    </tbody>
                  </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-success d-flex"  [routerLink]="['/reclamos/editar',seleccionado.N_reclamo]" data-dismiss="modal">Modificar</button> 
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
