<nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(40, 121, 226);">
    <a class="navbar-brand" routerLinkActive="/">DAFAS  -  Dirección de Ayuda Financiera para la Acción Social</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios"><i class="fas fa-users"></i> Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agencias"><i class="fas fa-store-alt"></i> Agencias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/tjs"><i class="fas fa-calculator"></i> Terminales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/reclamos"><i class="fas fa-headset"></i> Reclamos</a>
        </li>
      </ul>
    </div>
  </nav>